{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
     <meta property="og:title" content="Luggage &amp; Bags Online : Buy Luggage Bags &amp; Buy Online in India" />
    <meta name="twitter:title" content="Luggage &amp; Bags Online : Buy Luggage Bags &amp;Buy Online in India" />
    <meta name="description" content="Explore Luggage Bags Online in India. Discover wide range of Luggage &amp; Bags, Travel &amp; Shopping bags including backpacks, briefcases, baskets wallets, pocket accessories and more from popular brands including VIP, American Tourister, Samsonite, Belkin, Skybags, Tragus, Ferrari and more" />
    <meta property="og:description" content="Explore Luggage Bags Online in India. Discover wide range of Luggage &amp; Bags, Travel &amp; Shopping bags including backpacks, briefcases, baskets wallets, pocket accessories and more from popular brands including VIP, American Tourister, Samsonite, Belkin, Skybags, Tragus, Ferrari and more" />
    <meta name="twitter:description" content="Explore Luggage Bags Online in India. Discover wide range of Luggage &amp; Bags, Travel &amp; Shopping bags including backpacks, briefcases, baskets wallets, pocket accessories and more from popular brands including VIP, American Tourister, Samsonite, Belkin, Skybags, Tragus, Ferrari and more" />
    <meta name="keywords" content="explore luggage bags online, luggage shopping assistant, explore backpacks online, luggage bags india, trolley luggage bags, vip luggage bags, samsonite bags, eshoppingassistant,laptop bags india" />
    <meta name="author" content="">
    <link rel="icon" href="{% static 'polls/favicon.ico' %}?" type="image/x-icon">

    <title>eShopGaming:Play with Bags,Luggage online</title>
<style>
input[name=search] {
 width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('searchicon.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
 width: 100%;
}
</style>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'polls/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'polls/styleloc.css' %}" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    
    <!-- Custom styles for this template -->
    <link href="{% static 'polls/dashboard.css' %}" rel="stylesheet">
  </head>
  <body >
    <div class="container-fluid" style="background-image:url(http://na.leagueoflegends.com/sites/default/files/upload/backgrounds/xin_slayer_rotator.jpg);">
      <nav class="navbar navbar-default navbar-fixed-top">
         <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-barfa "></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <img  class="brandicon" src="{% static 'polls/icon.png' %}" height=47px>
              <a class="navbar-brand" href="http://www.eshoppingassistant.com/">eShoppingAssistant</a>
            </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
            <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Backpacks<span class="caret"></span></a>
                  <ul class="dropdown-menu ">
                    <li><a href="/polls/Laptop backpacks">Laptop Bags</a></li>
                    <li><a href="/polls/rucksacks">Rucksacks</a></li>
                    <li><a href="/polls/school bags">School Bags</a></li>

                  </ul>
                </li>


              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Luggage<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/polls/cabin luggage">Cabin_luggage</a></li>
                    <li><a href="/polls/travel duffles">Travel Duffles</a></li>

                  </ul>
                </li>



              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Handbags<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/polls/handbags">Handbags</a></li>
                    <li><a href="/polls/slingbags">Sling Bags</a></li>
                    <li><a href="/polls/tote bags">Tote Bags</a></li>
                    <li><a href="/polls/wallet for women">Wallets for women</a></li>

                  </ul>
                </li>
<li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Briefcases<span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="/polls/briefcases">Briefcases</a></li>
                    <li><a href="/polls/messenger bags">Messenger Bags</a></li>
                <li><a href="/polls/wallet for men">Wallets for men</a></li>

                  </ul>
                </li>
 
            </ul>
<ul class="nav navbar-nav navbar-right">
<li>
              <a class="lablet" href="polls/travel accessories">Travel Accessories</a>
            </li>

</ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
       <div class="bigcontain">
		<div class="row">

                <p class="lablethd"> Welcome to League of Luggage</span></p>
                <p class="welcomeaddress" style="color:orange;">Select your player.</p>
                </div>
                <div class="row">
{% for i in category %}
		<div class="col-md-2">
             <div class="hovereffect">
                <a class="tourlist" href="/polls/{{i.cate1}}"><img class="imga" src="{{i.cateimg1}}"></a><br>
                  <div class="imginfo overlay" >
                       <a style="color:white;" class="info" href="/polls/{{i.cate1}}" >The {{i.cate11}}</a>
                  
                   </div>
           </div>

          <div class="hovereffect">
                <a  class="tourlist" href="/polls/{{i.cate2}}"><img class="imga" src="{{i.cateimg2}}"></a><br>
                <div style="color:white;" class="imginfo overlay" >
                       <a style="color:white;" class="info" href="/polls/{{i.cate2}}" >The {{i.cate21}}</a>

                   </div>
</div>
</div>
{% endfor %}
		</div>
	</div>
<div id="footer_outer">
             <div id="footer_inner">
                 <footer>
  
  
                   <p>
                    Pages:
                      <a  id="contact" >Contact Us</a>
                      &middot;
                      <a href="/polls/Blog" >Blog</a>
                      &middot;
                      <a  id="discl" hidden>Disclaimer</a>
                      &middot;
                      <a href="/features" hidden>Features</a>
                      &middot;
                      <a id="abtus" >About Us</a>
                      &middot;
                      <a id="suggestions" hidden>Suggestions</a>
                      &middot;
                     <a href="/tools" hidden>Tools</a>
                      &middot;
                     <a href="/support" hidden>Help</a>
                   </p>
               <div class="contactus" hidden>
               <p>assistant@eshoppingassistant.com</p>
              </div>
             <div class="aboutus" hidden>
              <p>We are an Indian startup trying to provide a better shopping experience to people. Our aim is to build a better intelligent shopping platform for the indian consumers. This product discovery platform presently is for luggage but hopefully will be extended to other products.For now only Amazon products are displayed but flipkart and then many others will be on the wall very soon.</p>
               <p>Disclaimer:eShoppingAssistant is a participant in the Amazon Services LLC Associates Program, an affiliate advertising program designed to provide a means for sites to earn advertising fees by advertising and linking to Amazon properties including, but not limited to, amazon.in.  Amazon offers a small commission on products sold through their affiliate links. Each of your purchases via our Amazon affiliation links supports our cause at no additional cost to you.  
If a blogger links to an Amazon product (with a special code for affiliates embedded in the link), and a reader places an item in their "shopping cart" through that link within 24 hours of clicking the link, the blogger gets a small percentage of the sale.  Amazon links are not “pay per click.”  If you click on the product link and stay around Amazon and purchase something else, however, I will get commission on that sale.</p>
           </div>
          
           </div>
         </div>
    </div> <!--container -->

    

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'polls/bootstrap.min.js' %}"></script>


<script>

$("#abtus").click(function(){
    $(".aboutus").toggle();
});
$("#contact").click(function(){
$(".contactus").toggle();});

function showResult(str) {
  if (str.length==0) {
    document.getElementById("livesearch").innerHTML="";
    document.getElementById("livesearch").style.border="0px";
    return;
  }
  if (window.XMLHttpRequest) {
    // code for IE7+, Firefox, Chrome, Opera, Safari
    xmlhttp=new XMLHttpRequest();
  } else {  // code for IE6, IE5
    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
  }
  xmlhttp.onreadystatechange=function() {
    if (this.readyState==4 && this.status==200) {
      document.getElementById("livesearch").innerHTML=this.responseText;
      document.getElementById("livesearch").style.border="1px solid #A5ACB2";
    }
  }
  xmlhttp.open("GET","/polls/livesearch/"+str,true);
  xmlhttp.send();
}
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-92778533-1', 'auto');
  ga('send', 'pageview');

</script>

    
  </body>
</html>

